.idea/*
cert-validator
example/*.json
example/output-sample.parquet
shared_dir/*.parquet
shared_dir/*.csv
shared_dir/*.json
shared_dir/*.pem
shared_dir/*.crt
credentials
shared_dir/windows-rootstore.zip
shared_dir/windows-rootstore/*
shared_dir/.ipynb_checkpoints/*
shared_dir/.virtual_documents/*
shared_dir/java-rootstore/*
shared_dir/ubuntu-rootstore/*
